---
layout: en
title: Mar-Furniture - Custom Furniture
description: One of a kind Designer furniture
image: /img/logo.jpg
url: www.mar-furniture.lt
logo: /img/logo.jpg
social:
  name: Mar-Furniture
  links:
    - https://www.facebook.com/marFurniture.lt/
    - https://www.instagram.com/marfurniture/
    - https://mariusvalaitis.tumblr.com/

lang: en_GB
identify: products
---

{% include en/nav_buttons.html %}


{% include en/products.html %}



<script type="text/javascript">



  if (location.search == "?whatever") {
          $('.placeholder').show();   
      }

  
  {% for item in site.data.produktai_en %}


          else if (location.search == "?{{item.kodas}}") {
              $('.{{item.kodas}}').show();
               
            }
 
  {% endfor %}


</script>