---
layout: default
---

{% include nav_buttons.html %}

{% for item in site.data.meniu %}

	{% include produktai.html content= item.kodas %}

{% endfor %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?tracking=1&thirdparty=1&scrolling=1&hideDetailsBtn=1&showPolicyLink=1&privacyPage=mar-furniture.lt%2Fprivacy"></script>

<script type="text/javascript">
	
	if (location.search == ""){
		window.location = "/?home";
	}

	  
	  if (location.search == "?home") {
          $('.hgallery').show();   
      }

  {% if site.data.meniu[0] %}
  {% for item in site.data.meniu %}


          else if (location.search == "?{{item.kodas}}") {
              $('#{{item.kodas}}').css({display:"flex"});
               
            }
  {% endfor %}
  {% endif %}



</script>
