---
layout: default
---

{% include nav_buttons.html %}

<br>
<br>

{% for item in site.data.meniu %}

	{% include produktai.html content= item.kodas %}

{% endfor %}


<script type="text/javascript">
	
	if (location.search == ""){
		window.location = "/?home";
	}

	  
	  if (location.search == "?home") {
          $('.hgallery').show();   
      }

  {% if site.data.meniu[0] %}
  {% for item in site.data.meniu %}


          else if (location.search == "?{{item.kodas}}") {
              $('#{{item.kodas}}').css({display:"flex"});
               
            }
  {% endfor %}
  {% endif %}



</script>
