---
layout: default
title: Mar-Furniture - vienetiniai baldai
description: Vienetiniai, dizainerio baldai 
image: /img/logo.jpg
url: mar-furniture.lt
logo: /img/logo.jpg
social:
  name: Mar-Furniture
  links:
    - https://www.facebook.com/marFurniture.lt/
    - https://www.instagram.com/marfurniture/
    - https://mariusvalaitis.tumblr.com/

lang: lt
---

{% include nav_buttons.html %}

{% for item in site.data.meniu %}

	{% include produktai.html content= item.kodas %}

{% endfor %}


<script type="text/javascript">
	
	if (location.search == ""){
		window.location = "/?home";
	}

	  
	  if (location.search == "?home") {
          $('.hgallery').show();   
      }

  {% if site.data.meniu[0] %}
  {% for item in site.data.meniu %}


          else if (location.search == "?{{item.kodas}}") {
              $('#{{item.kodas}}').css({display:"flex"});
               
            }
  {% endfor %}
  {% endif %}



</script>
