---
layout: default
---
{% if site.data.materials.Materials[0] %} 
	{% for item in site.data.materials.Materials %}

	<h2> {{item.name}} </h2>

	<p class="pavadinimas"> {{item.aprasymas}} </p>
		<ul>
			{% if item.viduje[0] %}
			{% for entry in item.viduje %}
				<li class="item material">
				<a href="#" class={{item.unique}} data-lightbox="{{item.unique}}" data-title="{{entry.caption}}"><img class="img {{item.unique}}" src="{{item.image}}" alt="Picture of {{item.name}}"></a><br>
				<span class="pavadinimas">{{item.name}}</span> 
				</li>
			{% endfor %}
			{% endif %}

		</ul>
	{% endfor %}
{% endif %}

