.tekstas {
	position: absolute;
	top: 15%;
	left: 35%;
	bottom: -20%;
}

.nav .Materials {
	width: 200px;
	height: 200px;
}

	.one {
		grid-row: 2;
		grid-column: 2;
	}


	.two {
		grid-row: 2;
		grid-column: 4;
	}

	.three {
		grid-row: 2;
		grid-column: 6;
	}

	.four {
		grid-row: 4;
		grid-column: 2;
	}

	.five {
		grid-row: 4;
		grid-column: 4;
	}

	.six {
		grid-row: 4;
		grid-column: 6;
	}

	.seven {
		grid-row: 6;
		grid-column: 2;
	}
	.eight {
		grid-row: 6;
		grid-column: 4;
	}