.nav {
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(10, 1fr);
	grid-gap: 10px;
	margin-top: 10%;
	margin-left: 25%;
}

li {
	list-style-type: none;
}

	.item {
		grid-row: 2;
	}

.img {

} 
	.homepage {
		width: 100px;
		height: 100px;	
}