

.pic_and_desc {
	width: 900px;
	height: 500px;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	margin-left: 25%;

}

.baldas {
	display: none;
}

.Product.gallery {
	display: flex;
	width: 500px;
	height: 400px;
	flex-wrap: wrap;
}

.aprasymas {
	border-style: solid;
	padding: 15px;
	margin-left: 10px;
	width: 350px;
	height: 150px;
}

.prodpavadinimas {
	margin-left: 25%;
	width: 500px;
	justify-content: left;
	margin-bottom: 40px;

}

.apie_medziaga {
	margin-left: 25%;
	
}

nav.custom {

	visibility: hidden;
}