
<div class="products full">


	<div>
	  {% for item in site.data.produktai %}
	        <div class="{{item.kodas}} baldas">  	
	          	<h2 class="prodpavadinimas"> {{ item.pavadinimas }} </h2>
	          	<div class="pic_and_desc">
	          			
	             			
		            <div> 			
		                
		                  <ul class="nav product gallery">
		                  {% for entry in item.galerija %}
		                      <li><a href="{{entry.url}}" class="{{entry.baldas}}" data-lightbox="{{item.kodas}}" data-title="{{item.pavadinimas}}"><img class="pro_img" src="{{entry.thumbnails.large.url}}"></a> </li>
		                  {% endfor %}
		                  </ul>
		        
		            </div>

		   			<p class="aprasymas"> {{item.aprasymas}} </p>
		   		</div>
		   	</div>
		                  
		                  
	  {% endfor %}
	          	
	       
	</div>



</div>


