/*body {
	font-family: 'Proxima Nova', Georgia, sans-serif;
}
*/

.Logo {
	display: grid;
	grid-template-columns: 2fr 3fr 2fr;

}

.Marius {
	text-align: center;
	grid-column: 2;
}


.social {
	display: flex;
	grid-column: 3;
	width: 120px;
	height: 120px;
	margin-top: 50px;

}

#f { 
	height: 30px;
	width: 30px;
 }

#i {
 	height: 30px;
 	width: 30px; 
 }

