/*body {
	font-family: 'Proxima Nova', Georgia, sans-serif;
}
*/



.Marius {
	text-align: center;
	background-color: lime;
}

.social{
	position: absolute;
	top: 4%;
	right:5%;
	display: flex;
	margin: 10px;
	margin-right: 15%;
}
	.f {

	}