.visas {
	display: flex;
	justify-content: center;
}


.forma {
	display: flex;
	justify-content: center;
	padding: 100px;
}

.message {

	width: 250px;		
	height: 200px;
}


.nav.Furniture {
	width: 200px;
	height: 200px;
	margin-top: -3px;
}

