body {
	font-family: Calibri, sans-serif;
}

.Logo {
	display: flex;
	justify-content: center;
	flex-flow: row-reverse;

}

.linkas {
	color: black;
	text-decoration: underline;
}

.hgallery {
	display: none;
}
/*Hides the pictures next to the navigation items by default*/

.element {
	padding: 20px;
	width: 150px;
}

.nav_buttons {
	display: flex;
	justify-content: flex-start;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    width: 100%;
    margin-top: 35px;

}

.button {
	color: black;
    text-decoration: none;
    font-size: 16px; 

}
.social {
	box-sizing: unset;
}

.button2 {
	 display: inline-block;
	 padding: 0.5em 3em;
	 border: 0.16em solid #FFFFFF;
	 margin: 0 0.3em 0.3em 0;
	 box-sizing: border-box;
	 text-decoration: none;
	 text-transform: uppercase;
	 font-family: 'Roboto',sans-serif;
	 font-weight: 400; 
	 color: pink;
	 text-align: center;
	 transition: all 0.15s;
}
a.button2:hover{
 	color:#DDDDDD;
 	border-color:#DDDDDD;
}
a.button2:active{
 	color: #BBBBBB;
 	border-color: #BBBBBB;
}



.small_img:hover { 
    filter: grayscale(0%);
}

.small_img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	filter: grayscale(100%);
	margin-top: 40px;

}


div.nav.custom {
	display: none;
}
/*Hide all products by default*/


.Marius {
	padding: 20px;
	text-align: center;
	order: 2;
}

.empty {
	width: 200px;
	height: 200px
	visibility: hidden;
	flex-shrink: 2;
}

.empty.one {
	order: 1;
}

.empty.two {
	order: 3;

}
.grafija {
	padding: 0px 20px 20px 20px;
}


.icons img {
	height: 20px;
 	width: 20px;
 	padding: 5px;
}


#instagram {
	display: none;
}

#facebook {
	display: none;
}

.aprasymas {
	width: 50%;
	text-align: left;
}


img.sale.Neparduodama {
	display: none;
}

.visas {
	position: relative;

}
.vienas {
	position: absolute;
	right: 30%;
	z-index: 1;
	top:-10%;
	display: none;
}
.sale {


}

.pro_img.Parduodama {
	position: relative;

	
}

/*.pro_img.Parduodama:hover {
	box-shadow: 0px 0px 20px 2px #3f51b563;
}*/

@media only screen and (min-width: 1100px) {

	.nav_buttons {
		justify-content: center;

	}




}

@media only screen and (min-width: 601px) {
	html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }


	.nav_buttons {
		justify-content: center;

	}

	.nav.product.gallery {
		margin: auto;
		width: 500px;
		justify-content: flex-start;
		padding: 0px;
		display: flex;

}

	.social {
		display: block;
	  /*  overflow: hidden;*/
	  	position: fixed;
	  	padding: 9px;
	  	right: 0px;
		flex-flow: column;
		margin-top: 20%;
		margin-bottom: 50%;

	}

}

/*@media (max-width:1100px) and (min-width:602px) {
    
    .nav_buttons {
        justify-content: flex-start;
    }
}​*/

@media only screen and (max-width: 600px) {

	body {
		padding-bottom: 50px;
	}

	body div.social {
		background-color: #ffffff;
		position: fixed;
		bottom: 0px;
		display: flex;
		justify-content: space-around;
		height: 50px;
		z-index: 20;
		overflow: hidden;
		width: 100%;

	}

	.icons img {
		height: 30px;
	 	width: 30px;
	 	padding-top: 10px;
	}

	#info {
		margin-top: 35px;
		margin-left: 10%;
		text-align: left;
		max-width: 100%;
		margin-right: 10px;
		}

	.profile {
		width: 200px;
		height: auto;
		align-self: center;
        }
   	.nav_buttons {
		width: 99%;
		justify-content: flex-start;
		margin-bottom: 10%;
		padding: 20px;
		margin-left: 5%;

	}
	.element {
		padding: 2px;
		width: 130px;

	}

	.nav.custom {
		padding: 0px;
		width: 100%;
		justify-content: center;
		display: flex;
	}

	.nav {
		padding: 0px;
	}

	.aprasymas {
		margin-top: 5%;
		justify-content: center;
		display: flex;
		text-align: left;
		width: 80%;
	}

	.nav.product.gallery {
		margin-left: 20px;
			}


	.pic_and_desc {
		flex-direction: column-reverse;
	}


	.aprasymas {
		margin-top: auto;
		width: 100%;
		justify-content: center;
		display: flex;
	}

	.grafija {
		padding: 0;
	}

/*	.visas {
		display: flex;
		border: solid 1px #CCC;
    	-moz-box-shadow: 5px 5px 0px #999;
    	-webkit-box-shadow: 5px 5px 0px #999;
        box-shadow: 5px 5px 0px #999;
        width: 100%;
	}
    */
	
}


/*MAIN LOGO + SOCIAL ENDS*/




.lb-loader,.lightbox{text-align:center;line-height:0}.lb-dataContainer:after,.lb-outerContainer:after{content:"";clear:both}html.lb-disable-scrolling{overflow:hidden;position:fixed;height:100vh;width:100vw}.lightboxOverlay{position:absolute;top:0;left:0;z-index:9999;background-color:#000;filter:alpha(Opacity=80);opacity:.8;display:none}.lightbox{position:absolute;left:0;width:100%;z-index:10000;font-weight:400}.lightbox .lb-image{display:block;height:auto;max-width:inherit;max-height:none;border-radius:3px;border:4px solid #fff}.lightbox a img{border:none}.lb-outerContainer{position:relative;width:250px;height:250px;margin:0 auto;border-radius:4px;background-color:#fff}.lb-loader,.lb-nav{position:absolute;left:0}.lb-outerContainer:after{display:table}.lb-loader{top:43%;height:25%;width:100%}.lb-cancel{display:block;width:32px;height:32px;margin:0 auto;background:url(../img/loading.gif) no-repeat}.lb-nav{top:0;height:100%;width:100%;z-index:10}.lb-container>.nav{left:0}.lb-nav a{outline:0;background-image:url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)}.lb-next,.lb-prev{height:100%;cursor:pointer;display:block}.lb-nav a.lb-prev{width:34%;left:0;float:left;background:url(../img/prev.png) left 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-prev:hover{filter:alpha(Opacity=100);opacity:1}.lb-nav a.lb-next{width:64%;right:0;float:right;background:url(../img/next.png) right 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-next:hover{filter:alpha(Opacity=100);opacity:1}.lb-dataContainer{margin:0 auto;padding-top:5px;width:100%;border-bottom-left-radius:4px;border-bottom-right-radius:4px}.lb-dataContainer:after{display:table}.lb-data{padding:0 4px;color:#ccc}.lb-data .lb-details{width:85%;float:left;text-align:left;line-height:1.1em}.lb-data .lb-caption{font-size:13px;font-weight:700;line-height:1em}.lb-data .lb-caption a{color:#4ae}.lb-data .lb-number{display:block;clear:left;padding-bottom:1em;font-size:12px;color:#999}.lb-data .lb-close{display:block;float:right;width:30px;height:30px;background:url(../img/close.png) top right no-repeat;text-align:right;outline:0;filter:alpha(Opacity=70);opacity:.7;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s}.lb-data .lb-close:hover{cursor:pointer;filter:alpha(Opacity=100);opacity:1}

/*Lightbox for pictures*/

