#info {
	display: flex;
	max-width: 65%;
	align-items: center;
	margin-top: auto;
	margin-right: 60px;

}

#pic {
	margin-left: 10%;
	margin-right: 3%;
}

.page {
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	margin-top: 4%;

}

.profile {
	width: 300px;
	height: auto;
}