#info {
	align-items: center;
	display: flex;
	margin-top: auto;
	margin-right: 60px;

}

#pic {
	margin-left: 10%;
	margin-right: 3%;
}

.page {
	display: flex;
	align-items:center;
	margin-top: 4%;

}
