.baldas {
	margin-top: 80px;
}



.prodpavadinimas {
	text-align: center;
}

.pic_and_desc {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@media only screen and (max-width: 600px) {

	.social {
		overflow: hidden;
		background-color: #edf3ff;
		position: fixed;
		bottom:0;
		width: 100%;
		right: initial;
		display: flex;
		justify-content: space-around;
	}

	.icons img {
		margin-top: 25px;
		height: 50px;
	 	width: 50px;
	}

	#info {
		margin-top: 35px;
		}
}

.page {
	display: flex;
	flex-wrap: wrap;
}