
li {
	list-style-type: none;
}

.nav {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	padding: 20px;
	text-align: center;
}


/*LANDING*/ 
.dezute {
	border-style: solid;
	width: 50%;
	display: flex;
	margin: auto;
	justify-content: space-around;

}

.nav.customer_baldai.aprasymas_sale {
	width: 90%;

}

.nav.customer_baldai.aprasymas_sale:hover  {


}


.salevisas {
	display: flex;
	width: 50%;
}

.nav.cription {
	margin-top: 10%;
	width: 90%;
	padding: 5px;

}
.nav.cription p {
	text-align: left;
}

.nav.salex {
	width: 50%;
}

.add {
	position: fixed;
	display: flex;
	justify-content: center;
	bottom: 31%;
	overflow: hidden;
	margin-right: 3%;
	right: 0px;
	background-color: white;
	padding: 5px;




}
.add p {
	color: black;
	font-size: 17px;
	font-weight: 400;
	margin-top: 20px;
	text-align: center;
}

#ad {
	width: 100%;
	display: flex;
	justify-content: center;
	color: black;
	text-decoration: underline;
}

.for_sale {
	display: flex;
	flex-flow: row wrap;
}

.btn {
	color: green;
}
@media only screen and (max-width: 900px) {

	.salevisas {
		display: flex;
		border: solid 1px #CCC;
    	-moz-box-shadow: 5px 5px 0px #999;
    	-webkit-box-shadow: 5px 5px 0px #999;
        box-shadow: 5px 5px 0px #999;
        width: 100%;
	}
    li.nuotr_baldas {
    	padding: 10px;
    }

}

/*LANDING ENDS*/
.inner_div {
	margin: auto;
	width: 80%;
}

div.nav.custom {
	flex-wrap: wrap;
}

.pavadinimas {
	width: 150px;
	display: flex;
	text-align: center;
	justify-content: center;
	margin: auto;
	color: black;
    text-decoration: none;

}

a
{
	 text-decoration: none;
}

h2 {
	font-weight: normal;
	font-size: 1.3em;
}

.pro_img {
	width: 150px;
	height: auto;

/*	padding: 15px 45px 5px 45px;*/
	object-fit: cover;
}

.qoute {
	text-align: center;
}



/*Button style*/