
li {
	list-style-type: none;
}

.nav {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 15px;
	text-align: center;
}





h2.paslaugos {
	text-align: center;
}

.pavadinimas {
	width: 100px;
	display: flex;
	justify-content: center;
	margin: auto;

}


.img {
	width: 100px;
	height: 100px;
	padding: 35px;
	object-fit: cover;
}