

div.pic_and_desc {
	display: flex;
	text-align: center;
	flex-wrap: wrap;
	justify-content: center;

}

.baldas {
	display: none;
	margin-top: 80px;
}


}


.aprasymas {
	margin-left: 10px;
	width: 500px;
	height: 150px;
	text-align: left;
}

.prodpavadinimas {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
	text-align: center;
}

@media only screen and (min-width: 1020px) {

	.nav.custom {
		width: 100%;

	}

	.nav {
		width: 25%;
		padding: 0;
		display: block;
		margin-top: 5%;
		margin-bottom:5%;

	}
	.prodpavadinimas {
		margin-left: 50%;
		justify-content: flex-start;
	}

	.aprasymas {
	
	}


}

@media (max-width:1020px) and (min-width:602px) {
    
	.aprasymas {
		margin-top: auto;
		width: 500px;
		justify-content: center;
		display: flex;
	}

	.pic_and_desc {
		flex-direction: column-reverse;
	}

}​

