<!DOCTYPE html>
<html>
<head>
  <script src='//cdn.freshmarketer.com/436201/1288705.js'></script>

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<!-- OLD -->

	<link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/img/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/img/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link rel="manifest" href="/img/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" type="text/css" href="/css/default.css" >
	<!-- TESTING:  >  
		LIVE:  href='{{ "/css/default.css" | relative_url }}' -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="/lightbox-plus-jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- 	<link rel="stylesheet" type="text/css" href="/fonts/fonts.css" /> -->
<link rel="alternate" href="http://www.mar-Furniture.lt/" hreflang="lt" />
{% seo %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115514054-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-786856153');
  gtag('config', 'UA-115514054-2');
  gtag('config', 'UA-115514054-1');
</script>
<!-- Event snippet for Submits a request for confirmation conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
function gtag_report_conversion(url) {
  var callback = function () {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  };
  gtag('event', 'conversion', {
      'send_to': 'AW-786856153/H2E2CKXnjp4BENnxmfcC',
      'event_callback': callback
  });
  return false;
}
</script>
</head>
<body>

	<div class="Logo">
		
		<div class="Marius"> <a href="/?home"> <img src="https://dl.airtable.com/QGPD3ErBTmyi7xOMIiQt_full_logo.jpg" width="233px" height="100px" alt="mar_logo"></a> </div> <!-- Main logo across the whole website -->	
	

		<div class="social bg-white border border-light rounded">
			<div class="icons"> <a href="{{site.baseurl}}/en/?home" ><img src="/img/en.png" id="f" alt="EN"></a> </div>
			<div class="icons"> <a href="http://www.facebook.com/marfurnitureblog" target="_blank" ><img src="https://image.flaticon.com/icons/png/512/36/36993.png" id="f"></a> </div>
			<div class="icons mobile"> <a href="https://www.instagram.com/marfurniture/" target="_blank"><img src="/img/i.png" id="i" alt="i"></a> </div>
			<!-- <div class="icons"> <a href="https://mariusvalaitis.tumblr.com" target="_blank"><img src="/img/tumb.svg" id="t"></a> </div> --> 
			<div class="icons mobile"> <a href="/info" ><img src="/img/info.png" id="ii" alt="info"></a> </div>
			<div class="icons"><a href="/store"><img src="https://freeiconshop.com/wp-content/uploads/edd/shopping-bag-outline.png" alt="store"></a></div>  
			

		</div>
	
	</div> <!-- Pagrindinis logotipas -->	
	
		{{content}}



   <div class="row ">

	   <div class="col text-center py-1 fixed-bottom bg-white contactus">Tel: +37068423255 Email: Marius@mar-furniture.lt  
	  </div>
  </div>

  </div>
  <!-- Footer Links -->
  <!-- Copyright -->

</footer>
<!-- Footer -->


<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

 <!-- Bootstrap core JavaScript -->
    <script src="css/vendor/jquery/jquery.min.js"></script>
    <script src="css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="css/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="css/vendor/scrollreveal/scrollreveal.min.js"></script>
   <!--  <script src="css/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>



Start Cookie Script--> 
<script type="text/javascript" charset="UTF-8" src="http://chs03.cookie-script.com/s/c12840d2461e8ec06507dfeba9d2b1bc.js"></script> 
<!--End Cookie Script-->


<!-- LINKEDIN SCRIPT  -->
<script type="text/javascript"> _linkedin_partner_id = "1105105"; window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || []; window._linkedin_data_partner_ids.push(_linkedin_partner_id); </script><script type="text/javascript"> (function(){var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script"); b.type = "text/javascript";b.async = true; b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})(); </script> <noscript> <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=1105105&fmt=gif" /> </noscript>

<!-- LINKEDIN SCRIPT ^-->

<script>
  (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
    t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
  })(window, document, '_gscq','script','//widgets.getsitecontrol.com/156805/script.js');
</script>
</body>
</html>

