<!DOCTYPE html>
<html>
<head>
	<title>Marius Valaitis</title>
	<link rel="stylesheet" type="text/css" href="/css/default.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="/lightbox-plus-jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- 	<link rel="stylesheet" type="text/css" href="/fonts/fonts.css" /> -->
</head>
<body>

	<div class="Logo">
		
		<div class="Marius"> <a href="/?home"> <img src="/img/logo.jpg" width="233px" height="100px" alt="mar_logo"></a> </div> <!-- Main logo across the whole website -->	
	

		<div class="social">
			<div class="icons"> <a href="https://www.facebook.com/mariusvalaitis.lt/" ><img src="https://png.icons8.com/metro/1600/facebook.png" id="f"></a> </div>
			<div class="icons mobile"> <a href="https://www.instagram.com/mariusvalaitis/" ><img src="/img/i.png" id="i"></a> </div>
			<div class="icons"> <a href="https://mariusvalaitis.tumblr.com" ><img src="/img/tumb.svg" id="t"></a> </div> 
			<div class="icons mobile"> <a href="/info/" ><img src="/img/info.png" id="ii"></a> </div> 
			

		</div>
	
	</div> <!-- Pagrindinis logotipas -->	
	
		{{content}}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115514054-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115514054-1');
</script>
</body>
</html>
